@media only screen and (max-width: 700px) {

#body .content .search {
    width: 95%;
}

.content .list  {
    width: 90%;
}

.fab {
    right:15px;
}

.fab > paper-ripple {
    display: none;
}

#body .content {
    top: 20px;
}

}
	