

/*wholeSite*/
body {
    background-color: #EEE;
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;

}
#body{
	text-align:center;
	margin-top:160px;
}
/*header*/
	header .toolbar {
		background-color: #F44336;
		height: 80px;
		z-index: 500;
		top: 0;
		left: 0;
		right:0;
		position: absolute;
		transition: box-shadow 0.2s;
    background-size: 100%;
	}

/*--title*/
	header .toolbar .title {
		position: absolute;
		color:white;
		left: 0;
		top:0;
		right:0;
		height:80px;
		padding:25px 25px;
		font-weight:500;
		font-size:40px;

	}
		header .toolbar .title h1 {
			font-weight: 300;
			font-size: 50px;
		}
/*--sticky*/
		header .toolbar #sticky {
			position:absolute;
			background-color: #F44336;
			width: 100%;
			height: 70px;
			z-index: 100;
			top: 80px;
			left: 0px;
			box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.4);
		}
		header .toolbar #sticky.stick {
			position: fixed;
			top: 0;
			left:0;
			z-index: 1000;
		}
			header .toolbar #sticky ul {
				width: 95%;
				left: 20px;
				position: absolute;
				padding: 0;
				margin: 0;
				list-style-type: none;
			}
			header .toolbar #sticky a {
				float: left;
				width: 6em;
				text-decoration: none;
				padding: 0.2em 0.6em;
				color: rgba(255, 255, 255, 0.3);
			}
			header .toolbar #sticky a:not(.active){
				animation: animateColorNormal 0.5s forwards;
			}
			header .toolbar #sticky a.active {
				color: white;
			}
			header .toolbar #sticky a:not(.active):hover {
				animation: animateColorWhite 0.5s forwards;
			}
/*animations*/
@keyframes animateColorWhite {
	to {color: white;}
}
@keyframes animateColorNormal {
	from {color: white;}
	to {color: rgba(255, 255, 255, 0.3);}
}


/*Where Am I*/

  .whereami {
    display: none;
    color: rgba(255, 255, 255, 0.7);
    top: 2px;
    left: 800px;
    position: relative;
    text-transform: uppercase;
  }
