/*content*/

	#body .content {
		position: relative;
		width: 100%;
		margin: auto;
	}

		#body .content .card {
			margin-right: 10px;
			margin-bottom: 10px;
			position: relative;
			background-color: #fff;
			border-radius: 3px;
			box-shadow: 0 7px 18px rgba(0,0,0,0.2);
			height: 250px;
			display:inline-block;

		}
		#body .content .card.big {
			width: 600px;
			transition: all 300ms ease-in-out 0s ;
		}

    #body .card.big:hover {
			box-shadow: 0 7px 18px rgba(0,0,0,0.3);
  }

		#body .content .card.small {
			width: 300px;
			transition:all 200ms ease-in-out 0s;
		}

    #body .card.small:hover {
      box-shadow: 0 7px 18px rgba(0,0,0,0.3);
  }

		#body .content .title {
			position: relative;
			left: 50%;
			font-style: oblique;
			font-size: 20px;
		}
